Host kube-nfs
    User {{ user }}
    HostName kube-nfs
    IdentityFile ~/.ssh/id_rsa

Host kube1
    User {{ user }}
    HostName kube1
    IdentityFile ~/.ssh/id_rsa

Host kube2
    User {{ user }}
    HostName kube2
    IdentityFile ~/.ssh/id_rsa
