---
- name: Ensure SSH Directories
  become: yes
  file:
    path: /home/vagrant/.ssh
    state: directory
    owner: vagrant
    group: vagrant
    mode: 0700

- name: Make copy of current authorized_keys (vagrant)
  become: yes
  command: cp /home/vagrant/.ssh/authorized_keys /tmp/authorized_keys

- name: Copy SSH Key Files
  become: yes
  copy:
    src: files/{{ item }}
    dest: /home/vagrant/.ssh/{{ item }}
    owner: vagrant
    group: vagrant
    mode: 0600
  with_items:
    - id_rsa
    - config
    - authorized_keys

- name: Reapply authorized_keys (vagrant)
  become: yes
  shell: cat /tmp/authorized_keys >> /home/vagrant/.ssh/authorized_keys

- name: Copy vimrc
  become: yes
  copy:
    src: files/vimrc
    dest: /home/vagrant/.vimrc
    owner: vagrant
    group: vagrant
    mode: 0644

- name: Copy bashrc
  become: yes
  copy:
    src: files/bashrc
    dest: /home/vagrant/.bashrc
    owner: vagrant
    group: vagrant
    mode: 0644

- name: Copy env file
  become: yes
  copy:
    src: files/env10.sh
    dest: /home/vagrant/env10.sh
    owner: vagrant
    group: vagrant
    mode: 0755

- name: Ensure SSH Directories
  become: yes
  file:
    path: /home/vagrant/.ssh/id_rsa
    state: file
    owner: vagrant
    group: vagrant
    mode: 0400

- name: Install Extra Packages
  become: yes
  yum: name={{item}} state=installed
  with_items:
  - golang
  - git
  - net-tools
  - bind-utils

- name: Disable and Stop Firewalld
  become: yes
  service:
    name: "firewalld"
    enabled: no
    state: stopped
